:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
    --body-bg: #f0f0f0;
    --body-color: #555;
    --link-color: #222;
    --color-sec-font: #1C1C1C;
    --h1-color: #ff0000;
    --hover-link: #B22222;
    --arrow-color: #000000;
    --bg-table: #dddddd;
    --tm-white: #fff;
    --tm-black: #000;
    --tm-dark-blue: #1a3151;
    --tm-lightest-blue: #00aded;
    --tm-light-blue: #1d75a3;
    --tm-azure: #314f77;
    --tm-foggy-sky: #d2e3ed;
    --tm-cyan: #5ca6ff;
    --tm-navy: #001942;
    --tm-sky-blue-transparent: rgba(63, 166, 252, 0.0509803922);
    --tm-denim: #374457;
    --tm-admiral: #00193f;
    --tm-royal: #09224d;
    --tm-blue: #06183d;
    --tm-prussian-blue: #003555;
    --tm-light-midnight: #16273e;
    --tm-midnight: #17283e;
    --tm-kashmir-blue: #596a81;
    --tm-sky-blue: #0ebce6;
    --tm-pacific-blue: #0a96d6;
    --tm-sapphire: #0d2051;
    --tm-seagull: #8ebad1;
    --tm-grey-blue: #b0cfdf;
    --tm-cobalt: #00449e;
    --tm-green: #749f18;
    --tm-limeade: #55a826;
    --tm-lightest-green: #e3ecd1;
    --tm-pastel-green: #00bc4b;
    --tm-olivine: #a5c169;
    --tm-caper: #b9cf8b;
    --tm-reef: #ceddae;
    --tm-grey: #ddd;
    --tm-dark-grey: #333;
    --tm-middle-grey: #57585a;
    --tm-middle-light-grey: #999;
    --tm-light-grey: #e4e4e4;
    --tm-lightest-grey: #f2f2f2;
    --tm-border-grey: #ccc;
    --tm-cool-grey: #ececec;
    --tm-abalone: #d5d5d5;
    --tm-slate-grey: #728094;
    --tm-gun-powder: #585859;
    --tm-hawkes-blue: #d4d8de;
    --tm-dim-gray: #6c6c6c;
    --tm-white-smoke: #f0f0f0;
    --tm-smoke: #f3f3f3;
    --tm-whisper: #e9e9e9;
    --tm-dark-whisper: #e6e6e6;
    --tm-dark-dim: #666;
    --tm-silver: #bbb;
    --tm-red: #8f1a29;
    --tm-dark-red: #bd2e2b;
    --tm-chili: #9c002d;
    --tm-vermilion: #d9020d;
    --tm-crimson: #a91b39;
    --tm-venetian-red: #b80718;
    --tm-lightest-red: #f1cdd1;
    --tm-light-red: #c03;
    --tm-pure-red: #f00;
    --tm-pale-chestnut: #e6a8ae;
    --tm-yellow: #efa93b;
    --tm-sunflower: #e6b40a;
    --tm-bird-flower: #d8c206;
    --tm-lightest-yellow: #fff6db;
    --tm-pure-yellow: #ff0;
    --tm-kournikova: #ffd24a;
    --tm-oasis: #ffeebd;
    --tm-paris-daisy: #ffea47;
    --tm-purple: #8d5ba1;
    --tm-petrol: #16738f;
    --tm-gold: #dcb24e;
    --tm-goldenrod: #d4c06a;
    --tm-mustard: #a88040;
    --tm-indigo: #400080;
    --tm-fuchsia: #d047d1;
    --brand-facebook: #37589a;
    --brand-snapchat: #fffd00;
    --brand-twitter: #0ea8e2;
    --brand-whatsapp: #20b300;
    --brand-youtube: #f2342c;
    --brand-rss: #f60;
    --brand-community: #1d75a3;
    --brand-wahretabelle: #429535;
}



    .Transferencias {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        color: var(--link-color);
        padding-top: 12%;
        padding-left: 24%;
        position: absolute;
        font-size: 30px;
    }

   .tbtntext {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 12%;
    margin-left: 24%;
    position: absolute;
    font-size: 30px;
   }
 


    

   


    


